.card {
    padding: 20px;
    border: 6px solid white;
    border-radius: 12px;
    background: #eee;
    color: #333;
    min-height: 320px;

    h2 {
        font-size: 1.4em;
        font-weight: 600;
    }

    li {
        // list-style-type: none;
    }

    ul {
        padding-left: 20px;
    }
}
