.Card {
    padding: 20px;
    border: 6px solid white;
    border-radius: 12px;
    background: #eee;
    color: #333;
    min-height: 320px;
    transform: translateY(100%);
    animation: slideUp 0.4s ease forwards;
}

.Card h2 {
    font-size: 1.8em;
    font-weight: 700;
}

.Card h4 {
    font-size: 1.3em;
    font-weight: 600;
}

.Card h5 {
    font-size: 1.2em;
    font-weight: 600;
    color: #5f5f5f;
}

.Card ul {
    padding-left: 20px;
}

@keyframes slideUp {
    0% {

    }
    100% {
        transform: translateY(0);
    }
}

.Card .link-slider {
    height: 100%;
}

.Card .linklist-open {
    /*height: 200px;*/
}

.Card .linklist-closed {

}
