.Entry {

}

.Entry div.dept-header {
    margin: 8px 0;
}

.Entry div.officer-header {
    font-weight: 400;
}

.Entry div.header.name-header {
    margin: 6px 0;
}

.Entry .LinkList {
    padding-left: 0.3rem !important;
}
