.Entry {

}

.Entry div.dept-header {
    /* color: #666 !important; */
    /* font-size: 1.2em !important; */
    margin: 8px 0;
}

.Entry div.header.name-header {
    /* font-family: 'Fira Sans'; */
    /* font-size: 1.35em; */
    margin: 6px 0;
}

.Entry .LinkList {
    padding-left: 0.3rem !important;
}
