div.App a {
    color: #a7056b;
}

div.App a:hover {
    color: #6f0853;
}

div.intro {
    font-size: 11pt;
    max-width: 960px;
    margin-left: 0;
}

.intro h1 {
    font-size: 2.5em;
}

.App .footer {
	font-size: 0.9em;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}
