.App {

    /* font-size: 14pt; */
	max-width: 960px;
    padding: 20px 10px;
    margin: 0 auto;
}

.App a {
    color: #a7056b;
}

.App a:hover {
    color: #6f0853;
}

.App div.intro {
    margin-bottom: 2em;
    /* font-size: 0.9em; */
}

.App div.intro h1 {
    font-size: 2.6em;
    font-weight: 800;
    font-family: 'Fira Sans Condensed', sans-serif;
}

.App .footer {
	font-size: 0.9em;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.App span.count {
	font-weight: 700;
}

.App div#formContainer {
    margin: 0 24px;
}
