@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:400,700,800|Fira+Sans:400,600');

body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
	background-color: #f0f0f0;
}
