@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:400,700,800|Fira+Sans:400,600,700');

body {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
}

h1, h2, h5 {
    font-family: 'Fira Sans Condensed', sans-serif;
}

h1 {
    font-weight: 800;
    font-size: 2.7em;
}
